<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
 "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
 <html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
	<head>
		<title>{{ page.title }}</title>
		<meta http-equiv="content-type" content="text/html; charset=UTF-8" />
		<meta http-equiv="content-language" content="en" />

<!-- Le styles --> 
        	<link rel="shortcut icon" type="image/x-icon" href="http://acbus.org/assets/images/favicon.ico">
		<link href="http://acbus.org/assets/bootstrap/css/bootstrap.min.css" rel="stylesheet">
		<link rel="stylesheet" type="text/css" media="all" href="http://acbus.org/assets/style.css" />

    		<style> 
      			body {
        		padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
      			}
    		</style> 
<!-- /Le styles -->

<!--
      ___           ___           ___           ___           ___     
     /\  \         /\  \         /\  \         /\__\         /\  \    
    /::\  \       /::\  \       /::\  \       /:/  /        /::\  \   
   /:/\:\  \     /:/\:\  \     /:/\:\  \     /:/  /        /:/\ \  \  
  /::\~\:\  \   /:/  \:\  \   /::\~\:\__\   /:/  /  ___   _\:\~\ \  \ 
 /:/\:\ \:\__\ /:/__/ \:\__\ /:/\:\ \:|__| /:/__/  /\__\ /\ \:\ \ \__\
 \/__\:\/:/  / \:\  \  \/__/ \:\~\:\/:/  / \:\  \ /:/  / \:\ \:\ \/__/
      \::/  /   \:\  \        \:\ \::/  /   \:\  /:/  /   \:\ \:\__\  
      /:/  /     \:\  \        \:\/:/  /     \:\/:/  /     \:\/:/  /  
     /:/  /       \:\__\        \::/__/       \::/  /       \::/  /   
     \/__/         \/__/         ~~            \/__/         \/__/    

  ACBuS will save you one day

-->

    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements --> 
    <!--[if lt IE 9]>
      <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]--> 

	</head>
	<body>

<!-- BEGIN Navigation Bar -->
	    <div class="navbar navbar-fixed-top">
	      <div class="navbar-inner">
	        <div class="container">

	          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
	            <span class="icon-bar"></span>
	            <span class="icon-bar"></span>
	            <span class="icon-bar"></span>
	          </a>
 	         <a class="brand" href="http://acbus.org/">ACBuS</a>
	          <div class="nav-collapse">
	            <ul class="nav">
			<li class="dropdown">
                    	<a href="http://acbus.org/projects" class="dropdown-toggle" data-toggle="dropdown">Projects<b class="caret"></b></a>
                    	<ul class="dropdown-menu">
                      	<li><a href="http://acbus.org/projects/cansniff">CANsniff</a></li>
                      	<li><a href="http://acbus.org/projects/flexraysniff">FLEXRAYsniff</a></li>
                    	</ul>
                  	</li>
	              <li><a href="http://acbus.org/discussions">Discussions</a></li>
	              <li><a href="http://acbus.org/blog">Blog</a></li>
	            </ul>
	          </div><!--/.nav-collapse -->
	        </div>
	      </div>
	    </div>
<!-- END Navigation Bar -->


		{{ content }}

<div class="container"> <!-- container -->
<!-- Footer ================================================== -->
<footer class="footer">

		<p class="pull-right"><a rel="hardware license" href="http://freedomdefined.org/OSHW"><img alt="Open source Hardware definition" style="border-width:0" src="http://acbus.org/assets/images/oshw-logo-100-px.png" /></a></p>

		<p>Made using <a href="http://jekyllbootstrap.com">Jekyll Bootstrap</a> and 
<a href="http://twitter.github.com/bootstrap/">Twitter Bootstrap</a>. Hosted on <a href="https://github.com/">GitHub</a></p>
		<p>Also uses <a href="http://jquery.com/">jquery</a> and <a href="http://code.google.com/p/google-code-prettify/">prettify</a></p>
		<p><a rel="content license" href="http://creativecommons.org/licenses/by-sa/3.0/"><img alt="Creative Commons License" style="border-width:0" src="http://i.creativecommons.org/l/by-sa/3.0/88x31.png" /></a></p>

</footer>
</div> <!-- /container -->

		

<!-- Le javascript ================================================== -->

<!-- Placed at the end of the document so the pages load faster -->
<script src="http://acbus.org/assets/jquery/jquery-1.7.1.min.js"></script>
<script src="http://acbus.org/assets/bootstrap/js/bootstrap-dropdown.js"></script>
<script>
    $(window).load(function(){
        $('.dropdown-toggle').dropdown()
    });
</script>

<!-- /Le javascript ================================================== -->

<!-- BEGIN Google Analytics -->
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-7755978-5']);
  _gaq.push(['_setDomainName', '.acbus.org']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
<!-- END Google Analytics -->

	</body>
 </html>


